<h1>Results for <%= @snake.name %></h1>

<div id="game-results">
  <%# @snake.games.reverse_chronological.each do |game| %>
    <%# game.started_at %>
    <%# game.ended_at %>
    <%# game.result %>
  <%#x end %>
</div>